.search-box
{
	display:block;
        width:400px !important;
        height:13px !important;
        border-width:0px !important;
        margin:0px !important;
	/* Changing placeholder color of search box */
		
